.content-row {
	font-size: large;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 25px;
}

.rounded-margin-img {
	margin: 40px;
	border-radius: 40px;
	width: 50%;
	height: 50%;
}

.bottom-color-row {
	background: #C4D8E2; 
	height: 25px;
	margin-top: 50px;
}

.top-color-row {
	background: #FF0000; 
	height: 25px;
}

.index-image-container {
	margin: 15px; 
	margin-top: 25px; 
	margin-bottom:55px; 
	background: #C4D8E2;
	padding: 15px;
}